In [1]:
import pandas as pd
from IPython.display import display

data = {'Name': ["John", "Anna", "Peter", "Linda"],
        'Location': ["New York", "Paris", "Berlin", "London"],
        'Age': [24, 13, 53, 33]
       }
data_pds = pd.DataFrame(data)
display(data_pds)

   Age  Location   Name
0   24  New York   John
1   13     Paris   Anna
2   53    Berlin  Peter
3   33    London  Linda

In [2]:
display(data_pds[data_pds.Age > 30])

   Age Location   Name
2   53   Berlin  Peter
3   33   London  Linda